<% include partials/header %>

<div class="container">

  <h1>This is the show template</h1>
  <p><%= campground.name %></p>
  
  <img src="<%= campground.image %>" alt="">
  
  <p><%= campground.description %></p>

</div>

<% include partials/footer %>